@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important; /* Transparent background */
  color: white !important;                /* White text */
  transition: background-color 5000s ease-in-out 0s !important; /* Prevents flicker */
}
